<!-- testing file before inputting into handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Datepicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Organizarr</title>
</head>


<body>

    <p class="title text-end m-3"> ((USERSNAMEHERE)) </p>


    <ul class="nav navbar-dark bg-dark justify-content-center">
        <li class="nav-item">
            <a class="nav-link active text-white" href="#">Log Out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Study Groups</a>
        </li>
    </ul>


    <div class="container col-12">
        <div class="row justify-content-between mt-5">
            <div class="col-5 border mt-3 p-4">
                <h3 class="text-center pb-3">My To-Do's:</h3>
                <div class="row m-1">
                    <div class="col-10">
                        <input id="toDo" type="text" class="col-8 form-control mb-3 border">
                        <!-- {{todo.description}} -->
                    </div>
                    <div class="col-2">

                        <i id="deleteToDo" class="fa fa-trash align-right col-2 mt-2" data-id="[todo.id]"
                            style="font-size:30px;"> </i>
                    </div>
                </div>
            </div>


            <div class="col-6 border loginDiv mt-3 p-4">
                <h3 class="text-center pb-3">Start a Study Group</h3>



                <div class="row">
                    <div class="toDoItem col-3 p-1 text-end"> <strong>Date</strong></div>
                    <div class="col-8 mb-3">
                        <div class="row">
                            <form method="post">
                                <div class="form-group">
                                    <!-- Date input -->
                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                                        type="text" />
                                </div>
                            </form>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-3 p-1 text-end"> <strong>Time</strong></div>
                    <div class="col-8"><input id="sgTime" type="text" class="form-control mb-3"> </div>
                </div>

                <div class="row">
                    <div class="col-3 p-1 text-end"> <strong>Subject:</strong></div>
                    <div class="col-8">
                        <select class="col-12 p-2 mb-3 custom-select" id="sgSubject">
                            <option selected></option>
                            <option value="1">Web Dev</option>
                            <option value="2">Nursing</option>
                            <option value="3">Math</option>
                            <option value="3">Biology</option>
                            <option value="3">History</option>
                            <option value="3">Psychology</option>
                            <option value="3">Sports</option>

                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 p-1 text-end"> <strong>Studying Style:</strong></div>
                    <div class="col-8">
                        <select class="col-12 p-2 mb-3 custom-select" id="sgStyle">
                            <option selected> What do you prefer?</option>
                            <option value="1">Quiet w/ minimal talking</option>
                            <option value="2">Working through problems together</option>
                            <option value="3">A combo of quiet & chatty </option>
                            <option value="3">Open to anything! </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 p-1 text-end"> <strong>Meeting Link</strong></div>
                    <div class="col-8">
                        <select class="col-12 p-2 custom-select" id="sgLink">
                            <option selected> Select a service to get your link...</option>
                            <option value="1">Zoom</option>
                            <option value="2">Google Meet</option>
                            <option value="3">Web Ex</option>
                            <option value="3">Skype</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Let's Study!</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container col-12 mt-5 mb-5 border">
        <div class="row">
            <h2 class="border p-3 text-center bg-info"> YOUR SAVED NOTES/RESOURCES </h2>
        </div>

        <div class="row">
            <div class="col-4">
                <ul class="list-group">
                    <div class="row">

                        <div class="row m-1">
                            <div class="toDoItem col-10 p-3 mb-1 border"> First One! </div>
                            <i class="fa fa-trash align-right col-2 mt-2" id="deleteNote" style="font-size:28px;"> </i>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-8 border">
                <div class="row justify-content-between">

                    {{#each notes as |note|}}
                    <div class="col-10">
                        <input class="note-title" placeholder="Note Title" maxlength="28" type="text" />
                        <textarea class="note-textarea" placeholder="Note Text"></textarea>
                    </div>
                    {{/each}}

                    <div class="text-end col-1 mt-2">
                        <i id="saveNote" class="fa fa-save" style="font-size:36px;"></i>
                    </div>
                    <div class="text-end col-1 mt-2">
                        <i id="addNote" class="fa fa-plus" style="font-size:36px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../public/js/dashboard.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>

</body>

</html>