    <p class="title text-end m-3"> ((USERSNAMEHERE)) </p>


    <ul class="nav navbar-dark bg-dark justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Study Group</a>
        </li>
      </ul>

      