<h1 class="title text-center mt-4"> ORGANIZARR </h1>
<h3 class="slogan text-center mb-5"> When the student life gets messy, we'll sweep it up for you! </h3>

<div class="container col-10">
    <div class="row justify-content-between">
        <div class="col-8 border p-4">
            My carousel will go here
            {{!-- INSERT CAROUSEL CODE HERE --}}
        </div>

        <div class="col-3 border loginDiv p-4">
            <h3 class="text-center pb-3">LOGIN</h3>
            <form>
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPassword">
                </div>
                <button type="submit" class="btn btn-info login">Let's Go!</button>
            </form>
        </div>
    </div>
</div>