<h1 class="title text-center mt-4"> ORGANIZARR </h1>
<h3 class="slogan text-center mb-5"> When the student life gets messy, we'll sweep it up for you! </h3>
<hr>

<div class="container col-12">

    <div class="col-6 mt-5 mb-5 p-5 signUp bgColor">
        <h3 class="text-center pb-3">Sign Up & Get Organized!</h3>

        <div class="row">
            <div class="toDoItem col-3 p-1 text-end"> <strong>Name</strong></div>
            <div class="col-8"><input type="text" class="form-control mb-3 nameS"
                    aria-label="Text input with dropdown button"> </div>
        </div>

        <div class="row">
            <div class="toDoItem col-3 p-1 text-end"> <strong>Email</strong></div>
            <div class="col-8"><input type="email" class="form-control mb-3 emailS"> </div>
        </div>

        <div class="row">
            <div class="toDoItem col-3 p-1 text-end"> <strong>Password</strong></div>
            <div class="col-8"><input type="password" class="form-control mb-3 passS"> </div>
        </div>

        <br>
        <div class="text-center">
            <button type="click" id="signup" class="btn btn-dark text-white">Sign me up!</button>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>