<p class="title text-end m-3"> ((USERSNAMEHERE)) </p>


<ul class="nav navbar-dark bg-dark justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Log Out</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-white" href="#">Study Groups</a>
    </li>
</ul>

<h1 class="text-center mt-5 mb-5"> UPCOMING STUDY GROUPS </h1>

<div class="container col-7 mt-3 border" id="studyGroup">
    <ul>
        <li class="my-3 p-2"> Date: <span id="sgDate"> Enter HERE </span> </li>
        <li class="my-3 p-2"> Time: <span id="sgTime"> Enter HERE </span> </li>
        <li class="my-3 p-2"> Working On: <span id="sgWork"> Enter HERE </span> </li>
        <li class="my-3 p-2"> Studying Style: <span id="sgStyle"> Enter HERE </span> </li>
        <li class="my-3 p-2"> Meeting Link: <span id="sgLink"> Enter HERE </span> </li>

    </ul>
</div>

<script src="public/js/index.js"></script>
